{% extends 'layouts/default.html' %}
{% block content %}
<div class="project content">
	<h2 id="page-title">Register</h2>
	<div class="box">
		<form action="{{ url_for('root') }}register" method="post" class="tabular">
			<div class="control-group">
				<label for="name" class="control-label">Name</label>
				<div class="controls">
					<input type="text" name="name" id="name">
				</div>
			</div>
			<div class="control-group">
				<label for="username" class="control-label">Username</label>
				<div class="controls">
					<input type="text" name="username" id="username">
				</div>
			</div>
			<div class="control-group">
				<label for="password" class="control-label">Password</label>
				<div class="controls">
					<input type="password" name="password" id="password">
				</div>
			</div>
			<div class="control-group">
				<label for="email" class="control-label">Email</label>
				<div class="controls">
					<input type="email" name="email" id="email">
				</div>
			</div>
			<div class="actions">
				<button type="submit">Create Account</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
