<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/mantid.css') }}">
	</head>
	<body>
		<div id="wrapper">
			<header id="header">
				<h1><a href="{{ url_for('root') }}">Mantid</a></h1>
				<nav id="navbar">
					<ul>
						<li><a href="{{ url_for('root') }}register">Register</a></li>
						<li><a href="{{ url_for('root') }}login">Login</a></li>
					</ul>
				</nav>
			</header>
			<div id="page">
				{% block content %}{% endblock %}
			</div>
			<footer id="footer">
				Powered by Mantid, &copy; 2012-2013 Nirix.net
			</footer>
		</div>
	</body>
</html>
